/* style.css */


body {
    font-family: "Candara", ui-rounded ;
    color: azure;
    background-color: cadetblue;
    margin: 0;
    padding-bottom: 60px;
}


nav {
    background-color: darkslategray;
    padding: 10px;
}

nav a {
    color: azure;
    text-decoration: none;
    margin-right: 20px;
}

nav a:hover {
    text-decoration: underline;
}

header {
    text-align:Left;
    padding: 20px;
}

header h1 {
    margin: 20px;
    font-family: "Tahoma", cursive;
    color: peachpuff;
    font-size: 55px
}
header h2 {
    margin: 20px;
    font-family: "Candara Light", ui-rounded;
    color: peachpuff;
    font-size: 45px;
}
h2 {
    font-weight: bold;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-heading {
    text-align: left;
    margin-top: 0;
}

.right-heading {
    text-align: right;
    margin-top: 0;
    margin-right: 40%;
}
label {
    font-weight: bold;
}
.containers{
    display: flex;
}
.containers1, .containers2 {
    flex: 1;
}

.containers1{
    margin-left: 25px;
}
.containers2{
    margin-right: 35px;
}

.site-info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.site-info {
    flex: 1 0 50%;
    margin-bottom: 20px;
    margin-left: 25px;
}

aside.site-info {
    flex: 1 0 8%;
    margin-left: 30%;
}

.attractionList-table {
    width: 90%;
    border-collapse: collapse;
    border: 2px solid #ccc;
    margin-left: 25px;
}

.attractionList-table th,
.attractionList-table td {
    border: 2px solid #ccc;
    padding: 8px;
}
.attractionList-table tbody tr td a {
    color: azure;
    text-decoration: underline;
}
.attractionList-table tbody tr td a:hover {
font-weight: bold;
}

.attractions-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
}

.attraction {
    flex: 1 0 25%;
    margin-right: 20px;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.form-container-new {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 50%;

}

.boxed-form {
    border: none;
    padding: 2px;
    width: 100%;
}

.form-group {
    border: 3px solid #ccc;
    padding: 15px;
    box-sizing: border-box;
    width: 90%;
    margin-bottom: 20px;
}
.form-group input[type="text"] {
    width: 100%;
    height: 100%;
}
.form-group textarea {
    width: 100%;
    height: 75px;
    resize: vertical;
}

.add-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 2px;
}
.add-btn:hover{
    font-weight: bold;

}

.btn-secondary{

}


img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
    padding: 10px;
    margin-left: 20px;
}

li {
    margin-bottom: 10px;
}
/* Links styles */
ul li a {
    text-decoration: none !important;
    color: #ffdd00 !important;
    font-weight: normal;
}

ul li a:hover {
    text-decoration: underline;
    font-weight: bold;!important;
}


footer {
    height: 35px;
    width: 100%;
    position: fixed;
    bottom: 0 ;
    background-color: darkslategray;
    color: azure;
    text-align: center;
    padding: 10px;
}
