<!DOCTYPE html>
<!-- TODO CREATE CSS STYLESHEET-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Attractions</title>
    <link rel="stylesheet"  href="/css/style.css">

</head>
<body>
<nav>
    <a href="/">Home</a>
    <form action="attractions/add" method="get">
        <button class="add-btn" type="submit">Add new attraction</button>
    </form>
</nav>
<header>
<h2>All Attractions</h2></header>
<table class="attractionList-table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="attraction : ${attractions}">
        <td>
            <a th:href="@{'attractions/' + ${attraction.name}}" th:text="${attraction.name}"></a>
        </td>
        <td th:text="${attraction.description}"></td>
        <td th:text="${attraction.city}"></td>
        <td>
            <form th:action="@{'/attractions/' + ${attraction.name} + '/edit'}" method="get">
            <button type="submit">Edit</button>
            </form>
        </td>
        <td>
            <form th:action="@{'/attractions/delete/' + ${attraction.name}}" method="post">
            <button type="submit">Delete</button>
            </form>
        </td>
        <td>
            <form th:action="@{'/attractions/' + ${attraction.name} + '/tags'}" method="get">

            <button type="submit">Tags</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<footer>
    <p>Phone Number: +45 1234 5678 |
        Email Address: info@sensingcopenhagen.com |
        &copy; 2024 Sensing Copenhagen. All rights reserved. </p>
</footer>
</body>
</html>
